<div class="portal">

	<div style="width:500px;display: flex;">
		<svg-icon src="assets/images/eye.svg" class="red"></svg-icon>
		<svg-icon src="assets/images/eye.svg" class="green" style="transform: scaleX(-1);"></svg-icon>
		<svg-icon src="assets/images/eye.svg" class="blue"></svg-icon>
	</div>

	<form style="clear:both;">
		<h2>Set the SVG style</h2>
		<fieldset>
			<label>red:</label> <input type="number" min="0" max="255" [(ngModel)]="r" name="red">
			<label>green:</label> <input type="number" min="0" max="255" [(ngModel)]="g" name="green">
			<label>blue:</label> <input type="number" min="0" max="255" [(ngModel)]="b" name="blue">
		</fieldset>
		<fieldset>
			<label>opacity:</label> <input type="number" min="0" max="1.0" step="0.1" [(ngModel)]="o" name="opac">
			<label>margin:</label> <span class="px"><input type="number" min="0" max="100" [(ngModel)]="m" name="marg"></span>
			<label>padding:</label> <span class="px"><input type="number" min="0" max="100" [(ngModel)]="p" name="pad"></span>
			<label>border: <input type="checkbox" [(ngModel)]="border" name="border"></label>
		</fieldset>
		<fieldset>
			<label>height:</label>
			<label>auto <input type="checkbox" [(ngModel)]="autoheight" name="autoheight"></label>
			<span class="px" *ngIf="!autoheight"><input type="number" min="0" max="1000" [(ngModel)]="h" name="height"></span>
			<span style="margin-left:10px;">&nbsp;</span>

			<label>width:</label>
			<label>auto <input type="checkbox" [(ngModel)]="autowidth" name="autowidth"></label>
			<span class="px" *ngIf="!autowidth"><input type="number" min="0" max="1000" [(ngModel)]="w" name="width"></span>
		</fieldset>
		<fieldset>
			<label>stretch: <input type="checkbox" [(ngModel)]="stretch" name="stretch"></label>
		</fieldset>
	</form>

	<div *ngIf="display">
		<svg-icon [src]="img[onImg]" [stretch]="stretch" [svgStyle]="getNgStyle()"></svg-icon>

		<pre>&lt;svg-icon src="{{img[onImg]}}" [stretch]="{{stretch|json}}"
  [svgStyle]="{{getStyle()}}"&gt;
&lt;/svg-icon&gt;</pre>
	</div>

	<div>
		<button (click)="swapImg()">Swap SVG</button>
		<pre style="display:inline-block;"> Source {{img[onImg]}}</pre>
	</div>
	<div>
		<button (click)="unload(img[onImg])">{{display ? 'Unload SVG' : 'Reload SVG'}}</button>
		<pre style="display:inline-block;">{{message}}</pre>
	</div>

	<div class="explain">
		<p [hidden]="!display">Unloading the SVG will remove it from the registry. The next time the &lt;svg&#8209;icon&gt; is
		used with the SVG's URL, the SVG will be loaded again.  Unloading will not remove a SVG already displayed in
		the document as can be seen by the persistence of the three <svg-icon src="assets/images/eye.svg" [svgStyle]="{'width.px':14}">
		</svg-icon> SVG at the top of the page.</p>

		<p *ngIf="!display">Reloading the SVG will cause an http fetch to occur to load the SVG into the registry
		where it will persist until programatically unloaded.</p>
	</div>

	<div class="explain">
		<h2>Working with CSS classes</h2>

		<p>There are two ways to apply a CSS class to the SVG loaded by the &lt;svg&#8209;icon&gt;. The first way
		is to use the svgClass attribute to apply a class directly to the SVG. The second way is to apply the
		&lt;svg&#8209;icon&gt; class attribute in conjuction with the applyClass="true" attribute. The two ways
		also may be combined. The first way applies the class only to the SVG. The second way duplicates the class
		from the &lt;svg&#8209;icon&gt; and applies it also to the SVG.</p>

		<div class="bulb">
			<svg-icon src="assets/images/lightbulb.svg" [svgClass]="svgKlass" [class]="klass" [applyClass]="applied"></svg-icon>
		</div>

		<pre>&lt;svg-icon src="assets/images/lightbulb.svg" [svgClass]="{{svgKlass}}"
  [class]="{{klass}}" [applyClass]="{{applied|json}}"&gt;
&lt;/svg-icon&gt;</pre>

		<select [(ngModel)]="svgKlass">
			<option *ngFor="let c of svgKlasses" [value]="c">{{c}}</option>
		</select>

		<select [(ngModel)]="klass">
			<option *ngFor="let c of klasses" [value]="c">{{c}}</option>
		</select>

		<button (click)="applied = !applied">{{applied ? 'ignore class' : 'apply class'}}</button>
	</div>


	<div class="explain">
		<h2>Apply class to different SVG parts</h2>
		<p>Elements inside the SVG (path, polygon, etc.) can be extended via the class attribute of the &lt;svg&#8209;icon&gt;
		to apply animations. This works even if inner elements have declared attributes.</p>

		<p>Hover over image to see animation:</p>
		<svg-icon src="assets/images/multi_path.svg" class="multi-path-svg animated"></svg-icon>
	</div>

</div>
