.portal {
	margin: 15px;
}

button {
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #000;
	font-size: 12px;
	background: #aaa;
	padding: 4px 15px;
	margin: 8px 2px;
	border: solid #000 1px;
	text-decoration: none;
	width: 100px;
}

button:hover {
	background: #555;
	color: #aaa;
	text-decoration: none;
}

input {
	margin: 0 12px 0 4px;
}

.explain {
	max-width: 500px;
	font-size: 14px;
}


svg-icon.red {
	fill: red;
	width: 90px;
	float: left;
}

svg-icon.green {
	fill: green;
	width: 90px;
	float: left;
	margin-left: 20px;
}

svg-icon.blue {
	fill: blue;
	width: 90px;
	float: left;
	margin-left: 20px;
}

pre {
	font-size: 12px;
}

fieldset {
	border: none;
}


fieldset input {
	margin-right: 10px;
}


span.px:after {
	content: ' px';
	margin-left: -10px;
	margin-right: 10px;
	font-size: smaller;
}

.multi-path-svg svg {
	width: 200px;
	height: 200px;
}

.animated path {
	transition: 1s;
}

.multi-path-svg path#p1 {
	fill: red;
}

.multi-path-svg path#p2 {
	fill: blue;
}

.multi-path-svg path#p3 {
	fill: green;
}

.multi-path-svg path#p4 {
	fill: orange;
}

.multi-path-svg:hover path#p1 {
	fill: blue;
}

.multi-path-svg:hover path#p2 {
	fill: red;
}

.multi-path-svg:hover path#p3 {
	fill: orange;
}

.multi-path-svg:hover path#p4 {
	fill: green;
}

code {
	background: whitesmoke;
	padding: 5px;
}
